<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='../public/assets/styles.css' type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../public/assets/script.js"></script>
</head>

<body>

    <table>
        <tr>
            <td>
                <div id="col1">
                    <ul id="list-1">
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                        <li>Item 4</li>
                        <li>Item 5</li>
                    </ul>
                </div>
            </td>
            <td>
                <div id="col2">
                    <ul id="list-2">
                        <li>Item 10</li>
                        <li>Item 20</li>
                        <li>Item 30</li>
                        <li>Item 40</li>
                        <li>Item 50</li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <h2>FINAL BOX</h2>
            <div id="final-box">

            </div>

        </tr>
        <tr spa>

            <td colspan="2">
                <h1>
                    <button>Reset</button>
                </h1>
            </td>
        </tr>
    </table>

</body>

</html>